$font: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
	Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
	'Noto Color Emoji';
$bg-color-1: rgb(252, 252, 252);
$bg-color-2: rgb(247, 247, 247);
