@media only screen and(max-width: 1366px) {
	#portfolio-section {
		//Project on the left
		& .project-left {
			& .project-information {
				grid-template-columns: 4fr 1fr;
			}

			& .detailed-description {
				width: 25%;
				left: 55%;
				margin-top: -30%;
			}
		}

		//Project on the right
		& .project-right {
			& .project-information {
				grid-template-columns: 4fr 1fr;
			}

			& .detailed-description {
				width: 25%;
				right: 55%;
				margin-top: -30%;
			}
		}
	}
}

@media only screen and(max-width: 1200px) {
	#portfolio-section {
		//Project on the left
		& .project-left {
			& .project-information {
				grid-template-columns: 3fr 1fr;
			}

			& .detailed-description {
				width: 33%;
				right: 52%;
				margin-top: -32%;
			}
		}

		//Project on the right
		& .project-right {
			& .project-information {
				grid-template-columns: 3fr 1fr;
			}

			& .detailed-description {
				width: 33%;
				right: 52%;
				margin-top: -32%;
			}
		}
	}
}

@media only screen and(max-width: 1000px) {
	#home-section {
		& .nav.navbar.fixed-top.navbar-dark.bg-dark {
			&.sticky {
				&.long {
					& .burger-menu {
						& .open-slide {
							margin-right: 10px;
						}
					}

					& .navbar-brand.label {
						margin-left: 10px;
					}
				}
				& .burger-menu {
					& .open-slide {
						margin-right: 10px;
					}
				}

				& .navbar-brand.label {
					margin-left: 10px;
				}
			}

			& .right {
				display: none;
			}

			& .burger-menu {
				display: block;

				& .open-slide {
					display: block;
					margin-right: 10px;
				}
			}

			& .navbar-brand.label {
				margin-left: 10px;
			}
		}
	}

	#about-section {
		height: fit-content;
		background-image: none;

		& .aboutMe {
			margin-bottom: 100px;

			& p {
				color: black;
				font-size: 20px;
			}
		}
	}

	#portfolio-section {
		& .projects {
			width: 100%;
			display: block;
			margin-bottom: 100px;
		}

		& .project {
			width: 100%;
			margin-bottom: 30px;
			position: relative;
			display: block;
		}
	}

	#contact-section {
		padding-bottom: 30px;
		height: fit-content;

		& .contact-me {
			display: block;

			& p {
				display: none;
			}

			& .section-1-contact {
				margin-bottom: 45px;
			}

			& .section-2-contact {
				margin-bottom: 45px;
			}

			& .section-3-contact {
				margin-bottom: 45px;
			}
		}
	}
}

@media only screen and(max-width: 700px) {
	#home-section {
		& .nav.navbar.fixed-top.navbar-dark.bg-dark {
			& .right {
				display: none;
			}
		}
	}

	#about-section {
		height: fit-content;
		background-image: none;
		padding-bottom: 60px;
	}

	#portfolio-section {
		& .project-left {
			width: 80%;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 100px;
			transition: position ease-in-out 1000ms;
			position: relative;

			& .project-image {
				display: grid;
				grid-template-columns: 85% 15%;
				width: 100%;
			}

			& .project-information {
				padding: 10px;
				display: grid;
				grid-template-columns: 3fr 1fr;
				width: 85%;
			}

			& .detailed-description {
				opacity: 0;
				width: 85%;
				height: auto !important;
				left: 0;
				transition: ease-in-out 1500ms;
				margin-top: 5%;
			}
		}

		& .project-right {
			width: 80%;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 100px;
			transition: position ease-in-out 1000ms;
			position: relative;

			& .project-image {
				display: grid;
				grid-template-columns: 15% 85%;
				width: 100%;
			}

			& .project-information {
				padding: 10px;
				display: grid;
				grid-template-columns: 3fr 1fr;
				width: 85%;
				margin-left: 15%;
			}

			& .detailed-description {
				opacity: 0;
				width: 85%;
				height: auto !important;
				right: 0;
				transition: ease-in-out 1500ms;
				margin-top: 5%;
				margin-left: 15%;
			}
		}

		& .project-left.display-info {
			& .detailed-description {
				position: relative;
			}
		}
		& .project-right.display-info {
			& .detailed-description {
				position: relative;
			}
		}
	}

	#contact-section {
		padding-bottom: 30px;
		height: fit-content;

		& .contact-me {
			display: block;

			& p {
				display: none;
			}

			& .section-1-contact {
				margin-bottom: 45px;
			}

			& .section-2-contact {
				margin-bottom: 45px;
			}

			& .section-3-contact {
				margin-bottom: 45px;
			}
		}
	}
}

@media only screen and(max-width: 500px) {
	#home-section {
		& .nav.navbar.fixed-top.navbar-dark.bg-dark {
			& .right {
				display: none;
			}
		}
	}

	#about-section {
		height: fit-content;
		background-image: none;
		padding-bottom: 60px;
	}

	#portfolio-section {
		& .project-left {
			& .project-image {
				grid-template-columns: 80% 20%;
			}

			& .project-information {
				grid-template-columns: 60% 40%;
				width: 80%;
				margin-right: 20%;
			}

			& .detailed-description {
				opacity: 0;
				width: 80%;
				height: auto !important;
				left: 0;
				transition: ease-in-out 1500ms;
				margin-top: 5%;
			}
		}

		& .project-right {
			& .project-image {
				grid-template-columns: 20% 80%;
			}

			& .project-information {
				grid-template-columns: 60% 40%;
				width: 80%;
				margin-left: 20%;
			}

			& .detailed-description {
				opacity: 0;
				width: 80%;
				height: auto !important;
				transition: ease-in-out 1500ms;
				margin-top: 5%;
				margin-left: 20%;
			}
		}
	}

	#contact-section {
		padding-bottom: 30px;
		height: fit-content;

		& .contact-me {
			display: block;

			& p {
				display: none;
			}

			& .section-1-contact {
				margin-bottom: 45px;
			}

			& .section-2-contact {
				margin-bottom: 45px;
			}

			& .section-3-contact {
				margin-bottom: 45px;
			}
		}
	}

	#contact-section {
		padding-bottom: 30px;
		height: fit-content;

		& .contact-me {
			display: block;

			& p {
				display: none;
			}

			& .section-1-contact {
				margin-bottom: 45px;
			}

			& .section-2-contact {
				margin-bottom: 45px;
			}

			& .section-3-contact {
				margin-bottom: 45px;
			}
		}
	}
}
