* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --gradient: linear-gradient(
		45deg,
		#03045e,
		#0077b6,
		#00b4d8,
		#90e0ef,
		#caf0f8
	);
}

.loading-screen {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#home-section {
  background-image: url(../Images/homeBackground.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: white;
}

#home-section h1 {
  font-size: 50px;
  font-weight: 600;
}

#home-section p {
  font-size: 25px;
  font-weight: 300;
}

#home-section .button-1 {
  background: transparent;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  position: relative;
  color: white;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
}

#home-section .button-1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  -webkit-transition: -webkit-transform 350ms ease-in;
  transition: -webkit-transform 350ms ease-in;
  transition: transform 350ms ease-in;
  transition: transform 350ms ease-in, -webkit-transform 350ms ease-in;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#home-section .button-1:hover {
  color: black;
}

#home-section .button-1:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#home-section .button-2 {
  background-color: #3498db;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

#home-section .button-2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -1;
  -webkit-transition: -webkit-transform 350ms ease-in;
  transition: -webkit-transform 350ms ease-in;
  transition: transform 350ms ease-in;
  transition: transform 350ms ease-in, -webkit-transform 350ms ease-in;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#home-section .button-2:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark {
  background-color: transparent !important;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  -webkit-transition-property: background-color, margin-top, margin-bottom;
  transition-property: background-color, margin-top, margin-bottom;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark .navbar-brand.label {
  font-size: 24px;
  font-weight: 375;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  -webkit-transition-property: background-color, margin-top, margin-bottom;
  transition-property: background-color, margin-top, margin-bottom;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark .navbar-brand.right {
  font-size: 17px;
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  -webkit-transition-property: background-color, margin-top, margin-bottom;
  transition-property: background-color, margin-top, margin-bottom;
  text-decoration: none;
  position: relative;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark .navbar-brand.right::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 250ms ease-out;
  transition: -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out;
  transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark .navbar-brand.right:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark .burger-menu {
  display: none;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark .burger-menu .open-slide {
  stroke: white;
  display: none;
  margin-top: 10px;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark .burger-menu .side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  opacity: 1;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark .burger-menu .side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  margin-bottom: 30px;
  font-size: 22px;
  color: black;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark .burger-menu .side-nav a:hover {
  color: #3498db;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark .burger-menu .side-nav .side-menu-link.home {
  margin-top: 200px;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark .burger-menu .side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky {
  background-color: white !important;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  -webkit-transition-property: background-color, margin-top, margin-bottom;
  transition-property: background-color, margin-top, margin-bottom;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky .navbar-brand.label {
  font-size: 24px;
  font-weight: 375;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  -webkit-transition-property: background-color, margin-top, margin-bottom;
  transition-property: background-color, margin-top, margin-bottom;
  color: transparent;
  background-image: var(--gradient);
  background-clip: text;
  background-size: 400%;
  -webkit-animation: bg-animation 7s infinite alternate;
          animation: bg-animation 7s infinite alternate;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky .navbar-brand.right {
  font-size: 17px;
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  -webkit-transition-property: background-color, margin-top, margin-bottom;
  transition-property: background-color, margin-top, margin-bottom;
  text-decoration: none;
  position: relative;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky .navbar-brand.right::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 250ms ease-out;
  transition: -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out;
  transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky .navbar-brand.right:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky .burger-menu .open-slide {
  stroke: black;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky.long {
  background-color: white !important;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky.long .navbar-brand.label {
  font-size: 24px;
  font-weight: 375;
  margin-left: 60px;
  margin-top: 0;
  margin-bottom: 0;
  color: transparent;
  background-image: var(--gradient);
  background-clip: text;
  background-size: 400%;
  -webkit-animation: bg-animation 7s infinite alternate;
          animation: bg-animation 7s infinite alternate;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky.long .navbar-brand.right {
  font-size: 17px;
  margin-right: 60px;
  margin-top: 0;
  margin-bottom: 0;
  color: black;
  text-decoration: none;
  position: relative;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky.long .navbar-brand.right::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 250ms ease-out;
  transition: -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out;
  transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky.long .navbar-brand.right:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky.long .burger-menu .burger-text {
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 0;
  color: black;
  text-decoration: none;
  position: relative;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky.long .burger-menu .burger-text::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 250ms ease-out;
  transition: -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out;
  transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
}

#home-section .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky.long .burger-menu .burger-text:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

#about-section {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-top: 90px;
  background-color: #fcfcfc;
  background-image: url(../Images/background-about.png);
  background-repeat: no-repeat;
  background-position: 400px 150px;
  height: 800px;
  width: 100%;
}

#about-section .aboutMe p {
  color: #3f3f3f;
  font-size: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: justify;
  align: justify;
  margin: 0 20% 0 20%;
}

#about-section .aboutMe .fancy-link {
  text-decoration: none;
  color: #3498db;
  position: relative;
}

#about-section .aboutMe .fancy-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 250ms ease-out;
  transition: -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out;
  transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
}

#about-section .aboutMe .fancy-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

#portfolio-section {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-top: 90px;
  background-color: #f7f7f7;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#portfolio-section .projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#portfolio-section .projects {
  width: 100%;
}

#portfolio-section .project-left {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

#portfolio-section .project-left .project-image {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
}

#portfolio-section .project-left .project-image img {
  width: 100%;
}

#portfolio-section .project-left .project-image p {
  font-family: 'Raleway', sans-serif;
  text-align: right;
  color: #222;
  font-size: 30px;
  font-weight: 500;
}

#portfolio-section .project-left .project-information {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr;
      grid-template-columns: 6fr 1fr;
  width: 50%;
}

#portfolio-section .project-left .project-information .simple h2 {
  font-family: 'Raleway', sans-serif;
  color: #222;
  font-size: 16px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.005em;
}

#portfolio-section .project-left .project-information .simple p {
  color: #222;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
}

#portfolio-section .project-left .project-information .view-more {
  text-align: start;
}

#portfolio-section .project-left .project-information .view-more p {
  color: #222;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
  margin: 0 0 0 0;
  cursor: pointer;
}

#portfolio-section .project-left .project-information .view-more .view-website .fancy-link {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.5;
  color: #222;
}

#portfolio-section .project-left .project-information .view-more .view-website .fancy-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 250ms ease-out;
  transition: -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out;
  transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
}

#portfolio-section .project-left .project-information .view-more .view-website .fancy-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

#portfolio-section .project-left .detailed-description {
  opacity: 0;
  width: 400px;
  height: auto !important;
  position: absolute;
  left: 60%;
  -webkit-transition: ease-in-out 1000ms;
  transition: ease-in-out 1000ms;
  margin-top: -20%;
}

#portfolio-section .project-left .detailed-description li {
  list-style-type: none;
}

#portfolio-section .project-left .detailed-description li p {
  font-family: 'JetBrains Mono', monospace;
  opacity: 0.6;
}

#portfolio-section .project-left .detailed-description .info-description {
  color: #000;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Inconsolata', monospace;
}

#portfolio-section .project-left .detailed-description .info-title {
  color: #2f2f2f;
  font-size: 12px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 5px;
  letter-spacing: 0.05em;
}

#portfolio-section .project-left.display-info .detailed-description {
  opacity: 1;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#portfolio-section .project-right.display-info .detailed-description {
  opacity: 1;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#portfolio-section .project-right {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

#portfolio-section .project-right .project-image {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
}

#portfolio-section .project-right .project-image img {
  width: 100%;
  -webkit-transform: translate3d(1, 0, 0, 1, -236.625, 0);
          transform: translate3d(1, 0, 0, 1, -236.625, 0);
}

#portfolio-section .project-right .project-image p {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  color: #222;
  font-size: 30px;
  font-weight: 500;
}

#portfolio-section .project-right .project-information {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr;
      grid-template-columns: 6fr 1fr;
  width: 50%;
  margin-left: 50%;
}

#portfolio-section .project-right .project-information .simple h2 {
  font-family: 'Raleway', sans-serif;
  color: #222;
  font-size: 16px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.005em;
}

#portfolio-section .project-right .project-information .simple p {
  color: #222;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
}

#portfolio-section .project-right .project-information .view-more {
  text-align: start;
}

#portfolio-section .project-right .project-information .view-more p {
  color: #222;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
  margin: 0 0 0 0;
  cursor: pointer;
}

#portfolio-section .project-right .project-information .view-more .view-website .fancy-link {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.5;
  color: #222;
}

#portfolio-section .project-right .project-information .view-more .view-website .fancy-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 250ms ease-out;
  transition: -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out;
  transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
}

#portfolio-section .project-right .project-information .view-more .view-website .fancy-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

#portfolio-section .project-right .detailed-description {
  opacity: 0;
  width: 22%;
  height: auto !important;
  position: absolute;
  right: 60%;
  -webkit-transition: ease-in-out 1000ms;
  transition: ease-in-out 1000ms;
  margin-top: -20%;
}

#portfolio-section .project-right .detailed-description li {
  list-style-type: none;
}

#portfolio-section .project-right .detailed-description li p {
  font-family: 'JetBrains Mono', monospace;
  opacity: 0.6;
}

#portfolio-section .project-right .detailed-description .info-description {
  color: #000;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Inconsolata', monospace;
}

#portfolio-section .project-right .detailed-description .info-title {
  color: #2f2f2f;
  font-size: 12px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 5px;
  letter-spacing: 0.05em;
}

#contact-section {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-top: 90px;
  background-color: #fcfcfc;
  height: 45vh;
  width: 100%;
}

#contact-section .contact-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
}

.copyright {
  background-color: #363636;
  height: 50px;
  color: #737373;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 20px;
}

.copyright p {
  color: #bebebe;
  padding-top: 10px;
}

#about-section h2, #portfolio-section .portfolio-title h2, #contact-section .contact-title h2 {
  color: #3498db;
  font-size: 40px;
  font-display: bold;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 90px;
}

#home-section .button-1, #home-section .button-2 {
  margin-top: 60px;
  font-size: 16px;
  font-display: bold;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 30px;
  height: 45px;
  width: 150px;
  outline: none;
}

#contact-section .contact-me .section-1-contact, #contact-section .contact-me .section-2-contact, #contact-section .contact-me .section-3-contact {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact-section .contact-me .section-1-contact img, #contact-section .contact-me .section-2-contact img, #contact-section .contact-me .section-3-contact img {
  margin-bottom: 40px;
  width: 90px;
  -webkit-transition: -webkit-transform ease-out 250ms;
  transition: -webkit-transform ease-out 250ms;
  transition: transform ease-out 250ms;
  transition: transform ease-out 250ms, -webkit-transform ease-out 250ms;
}

#contact-section .contact-me .section-1-contact img:hover, #contact-section .contact-me .section-2-contact img:hover, #contact-section .contact-me .section-3-contact img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (max-width: 1000px) {
  #home-section .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky.long .burger-menu .open-slide {
    margin-right: 10px;
  }
  #home-section .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky.long .navbar-brand.label {
    margin-left: 10px;
  }
  #home-section .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky .burger-menu .open-slide {
    margin-right: 10px;
  }
  #home-section .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky .navbar-brand.label {
    margin-left: 10px;
  }
  #home-section .nav.navbar.fixed-top.navbar-dark.bg-dark .right {
    display: none;
  }
  #home-section .nav.navbar.fixed-top.navbar-dark.bg-dark .burger-menu {
    display: block;
  }
  #home-section .nav.navbar.fixed-top.navbar-dark.bg-dark .burger-menu .open-slide {
    display: block;
    margin-right: 10px;
  }
  #home-section .nav.navbar.fixed-top.navbar-dark.bg-dark .navbar-brand.label {
    margin-left: 10px;
  }
  #about-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-image: none;
    padding-bottom: 60px;
  }
  #about-section .aboutMe p {
    color: black;
    font-size: 20px;
  }
  #portfolio-section .projects {
    width: 100%;
    display: block;
    margin-bottom: 100px;
  }
  #portfolio-section .project {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    display: block;
  }
  #contact-section {
    padding-bottom: 30px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #contact-section .contact-me {
    display: block;
  }
  #contact-section .contact-me p {
    display: none;
  }
  #contact-section .contact-me .section-1-contact {
    margin-bottom: 45px;
  }
  #contact-section .contact-me .section-2-contact {
    margin-bottom: 45px;
  }
  #contact-section .contact-me .section-3-contact {
    margin-bottom: 45px;
  }
}

@media only screen and (max-width: 700px) {
  #home-section .nav.navbar.fixed-top.navbar-dark.bg-dark .right {
    display: none;
  }
  #about-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-image: none;
    padding-bottom: 60px;
  }
  #portfolio-section .projects {
    width: 80%;
    display: block;
    margin-bottom: 100px;
  }
  #portfolio-section .project {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    display: block;
  }
  #contact-section {
    padding-bottom: 30px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #contact-section .contact-me {
    display: block;
  }
  #contact-section .contact-me p {
    display: none;
  }
  #contact-section .contact-me .section-1-contact {
    margin-bottom: 45px;
  }
  #contact-section .contact-me .section-2-contact {
    margin-bottom: 45px;
  }
  #contact-section .contact-me .section-3-contact {
    margin-bottom: 45px;
  }
}

@media only screen and (max-width: 500px) {
  #home-section .nav.navbar.fixed-top.navbar-dark.bg-dark .right {
    display: none;
  }
  #about-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-image: none;
    padding-bottom: 60px;
  }
  #portfolio-section .projects {
    width: 80%;
    display: block;
    margin-bottom: 100px;
  }
  #portfolio-section .project {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    display: block;
  }
  #portfolio-section .project .image-overlay {
    width: 80%;
  }
  #portfolio-section .project .image-overlay p {
    font-size: 18px;
  }
  #contact-section {
    padding-bottom: 30px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #contact-section .contact-me {
    display: block;
  }
  #contact-section .contact-me p {
    display: none;
  }
  #contact-section .contact-me .section-1-contact {
    margin-bottom: 45px;
  }
  #contact-section .contact-me .section-2-contact {
    margin-bottom: 45px;
  }
  #contact-section .contact-me .section-3-contact {
    margin-bottom: 45px;
  }
}
/*# sourceMappingURL=sass.css.map */