@import 'config';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	// scroll-snap-type: y mandatory;
	// overflow-y: scroll;
}

:root {
	--gradient: linear-gradient(
		45deg,
		#03045e,
		#0077b6,
		#00b4d8,
		#90e0ef,
		#caf0f8
	);
}

.loading-screen {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#home-section {
	background-image: url(../Images/homeBackground.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: $font;
	color: white;

	h1 {
		font-size: 50px;
		font-weight: 600;
	}

	p {
		font-size: 25px;
		font-weight: 300;
	}

	.button-1 {
		@extend %btn;
		background: transparent;
		border-color: white;
		border-style: solid;
		border-width: 1px;
		position: relative;
		color: white;
		cursor: pointer;
		z-index: 1;
		transition: color 200ms ease-in;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 30px;
			width: 100%;
			height: 100%;
			background: white;
			z-index: -1;
			transition: transform 350ms ease-in;
			transform: scale(0);
		}

		&:hover {
			color: black;
		}

		&:hover::after {
			transform: scale(1);
		}
	}

	.button-2 {
		@extend %btn;
		background-color: rgb(0, 102, 255);
		border: none;
		color: white;
		position: relative;
		cursor: pointer;
		z-index: 1;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 30px;
			width: 100%;
			height: 100%;
			background: black;
			z-index: -1;
			transition: transform 350ms ease-in;
			transform: scale(0);
		}

		&:hover::after {
			transform: scale(1);
		}
	}

	& .nav.navbar.fixed-top.navbar-dark.bg-dark {
		background-color: transparent !important;
		transition: 0.6s ease-in-out;
		transition-property: background-color, margin-top, margin-bottom;

		& .navbar-brand.label {
			font-size: 24px;
			font-weight: 375;
			margin-left: 60px;
			margin-top: 20px;
			margin-bottom: 20px;
			transition: 0.6s ease-in-out;
			transition-property: background-color, margin-top, margin-bottom;
		}

		& .navbar-brand.right {
			font-size: 17px;
			margin-right: 60px;
			margin-top: 20px;
			margin-bottom: 20px;
			transition: 0.6s ease-in-out;
			transition-property: background-color, margin-top, margin-bottom;
			text-decoration: none;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				background-color: currentColor;

				transform: scaleX(0);
				transform-origin: right;
				transition: transform 250ms ease-out;
			}

			&:hover::after {
				transform: scaleX(1);
				transform-origin: left;
			}
		}

		& .burger-menu {
			display: none;

			& .open-slide {
				stroke: white;
				display: none;
				margin-top: 10px;
			}

			& .side-nav {
				height: 100%;
				width: 0;
				position: fixed;
				z-index: 1;
				top: 0;
				right: 0;
				background-color: white;
				opacity: 1;
				overflow-x: hidden;
				transition: 0.5s;

				& a {
					padding: 10px 10px 10px 30px;
					text-decoration: none;
					margin-bottom: 30px;
					font-size: 22px;
					color: black;
					display: block;
					transition: 0.3s;

					&:hover {
						color: rgb(0, 102, 255);
					}
				}

				& .side-menu-link.home {
					margin-top: 200px;
				}

				& .btn-close {
					position: absolute;
					top: 0;
					right: 22px;
					font-size: 36px;
					margin-left: 50px;
				}
			}
		}
	}

	& .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky {
		background-color: white !important;
		transition: 0.6s ease-in-out;
		transition-property: background-color, margin-top, margin-bottom;

		& .navbar-brand.label {
			font-size: 24px;
			font-weight: 375;
			margin-left: 60px;
			margin-top: 20px;
			margin-bottom: 20px;
			transition: 0.6s ease-in-out;
			transition-property: background-color, margin-top, margin-bottom;

			color: transparent;
			background-image: var(--gradient);
			background-clip: text;
			background-size: 400%;
			animation: bg-animation 7s infinite alternate;
		}

		& .navbar-brand.right {
			font-size: 17px;
			margin-right: 60px;
			margin-top: 20px;
			margin-bottom: 20px;
			color: black;
			transition: 0.6s ease-in-out;
			transition-property: background-color, margin-top, margin-bottom;
			text-decoration: none;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				background-color: currentColor;

				transform: scaleX(0);
				transform-origin: right;
				transition: transform 250ms ease-out;
			}

			&:hover::after {
				transform: scaleX(1);
				transform-origin: left;
			}
		}

		& .burger-menu {
			& .open-slide {
				stroke: black;
			}
		}
	}

	& .nav.navbar.fixed-top.navbar-dark.bg-dark.sticky.long {
		background-color: white !important;

		& .navbar-brand.label {
			font-size: 24px;
			font-weight: 375;
			margin-left: 60px;
			margin-top: 0;
			margin-bottom: 0;

			color: transparent;
			background-image: var(--gradient);
			background-clip: text;
			background-size: 400%;
			animation: bg-animation 7s infinite alternate;
		}

		& .navbar-brand.right {
			font-size: 17px;
			margin-right: 60px;
			margin-top: 0;
			margin-bottom: 0;
			color: black;
			text-decoration: none;

			position: relative;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				background-color: currentColor;

				transform: scaleX(0);
				transform-origin: right;
				transition: transform 250ms ease-out;
			}

			&:hover::after {
				transform: scaleX(1);
				transform-origin: left;
			}
		}

		& .burger-menu {
			& .burger-text {
				font-size: 17px;
				margin-top: 0;
				margin-bottom: 0;
				color: black;
				text-decoration: none;
				position: relative;

				&::after {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					background-color: currentColor;

					transform: scaleX(0);
					transform-origin: right;
					transition: transform 250ms ease-out;
				}

				&:hover::after {
					transform: scaleX(1);
					transform-origin: left;
				}
			}
		}
	}
}

@keyframes bg-animation {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

#about-section {
	font-family: $font;
	padding-top: 90px;
	background-color: $bg-color-1;
	background-image: url(../Images/background-about.png);
	background-repeat: no-repeat;
	background-position: 400px 150px;
	height: 800px;
	width: 100%;

	& h2 {
		@extend %title;
	}

	& .aboutMe {
		& p {
			color: rgb(63, 63, 63);
			font-size: 28px;
			align-items: center;
			align-content: center;
			text-align: justify;
			align: justify;
			margin: 0 20% 0 20%;
		}

		& .fancy-link {
			text-decoration: none;
			color: rgb(0, 102, 255);
			position: relative;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				background-color: currentColor;

				transform: scaleX(0);
				transform-origin: right;
				transition: transform 250ms ease-out;
			}

			&:hover::after {
				transform: scaleX(1);
				transform-origin: left;
			}
		}
	}
}

#portfolio-section {
	font-family: $font;
	padding-top: 90px;
	background-color: $bg-color-2;

	height: fit-content;
	justify-content: center;

	& .portfolio-title h2 {
		@extend %title;
	}

	& .projects-container {
		display: flex;
		justify-content: center;
	}

	& .projects {
		width: 80%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-bottom: 100px;
	}

	& .project {
		width: 30%;
		margin-bottom: 30px;
		position: relative;
		display: flex;

		&:hover {
			& #project-image {
				opacity: 0;
			}

			& #project-image-background {
				opacity: 1;
			}

			& .image-overlay {
				opacity: 1;
			}
		}

		& #project-image {
			width: 100%;
			transition: opacity ease-out 350ms;
		}

		& #project-image-background {
			width: 100%;
			opacity: 0;
			transition: opacity ease-out 350ms;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		& .image-overlay {
			opacity: 0;
			align-items: center;
			text-align: center;
			width: 70%;
			transition: opacity ease-out 350ms;
			position: absolute;
			top: 40%;
			left: 29%;
			transform: translate(-25%, -25%);

			& p {
				font-size: 24px;
				color: white;
				font-family: $font;
			}

			& .project-btn1 {
				border: 2px solid #201a52;
				outline: none;
				color: white;
				margin-right: 15px;
				margin-top: 15px;
				width: 80px;
				height: 40px;
				border-radius: 5px;
				background-color: #201a52;
				transition: background-color ease-out 350ms;
				position: relative;
				cursor: pointer;
				z-index: 1;

				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					border-radius: 5px;
					width: 100%;
					height: 100%;
					background: #3f3785;
					z-index: -1;
					transition: transform 300ms ease-in;
					transform: scale(0);
				}

				&:hover::after {
					transform: scale(1);
				}
			}

			& .project-btn2 {
				border: 2px solid #201a52;
				outline: none;
				color: white;

				width: 80px;
				height: 40px;
				border-radius: 5px;
				background-color: #201a52;
				transition: background-color ease-out 350ms;
				position: relative;
				cursor: pointer;
				z-index: 1;

				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					border-radius: 5px;
					width: 100%;
					height: 100%;
					background: #3f3785;
					z-index: -1;
					transition: transform 300ms ease-in;
					transform: scale(0);
				}

				&:hover::after {
					transform: scale(1);
				}
			}
		}
	}
}

#contact-section {
	font-family: $font;
	padding-top: 90px;
	background-color: $bg-color-1;
	height: 45vh;
	width: 100%;

	& .contact-me {
		display: flex;
		align-items: center;
		align-content: center;
		text-align: center;
		justify-content: center;
		margin-right: 100px;
		margin-left: 100px;

		& .section-1-contact {
			@extend %contact;
		}

		& .section-2-contact {
			@extend %contact;
		}

		& .section-3-contact {
			@extend %contact;
		}
	}

	& .contact-title h2 {
		@extend %title;
	}
}

.copyright {
	background-color: rgb(54, 54, 54);
	height: 50px;
	color: #737373;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 20px;

	& p {
		color: rgb(190, 190, 190);
		padding-top: 10px;
	}
}

@import 'utilities';
@import 'mobile';
